*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
}

.navbar{
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:10px 20px;
    box-shadow: none;
    transition: all 0.5s;
    z-index: 100;
    position: sticky;
    top: -21%;
    left: 0;
    animation: navanime 0.7s ease-in 1 forwards;
}
@keyframes navanime {
    to{
        top: 0%;
    }
}
.navbar-brand{
    font-size: 1.5em;
    letter-spacing: 0.2em;
    font-weight:600;
    color: white;
    font-family: 'Niconne', cursive;
}
.navbar-toggler{
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 3px;
    background-color: black;
    pointer-events: none;
}
.collapse{
    width: 100%;
    height: 0px;
    transition: all 0.2s;
}
.collapse.active{
    height: auto;
}
.navbar-nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.navbar-nav li{
    margin: 0 10px;
    padding: 10px;
    width: 100%;
}
.navbar-nav li a{
    color: rgb(228, 226, 226);
    font-weight: 500;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    transition: all 0.2s;
    font-size: 18px;
}
.navbar-nav li a:hover{
    color: white;
    background: transparent;
}
.navbar-nav li a.active{
    color: white;
}
.content{
    background-color:rgb(29, 28, 28);
    height:75vh;
    display:flex;
}
.songs{
    width:60%;
    border-right: 2px solid black;
    overflow-y: scroll;
    height: 70vh;
}
.songs::-webkit-scrollbar{
    width: 10px;
}
.songs::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 20px;
}
.songs::-webkit-scrollbar-track{
    background-color:transparent;
}
.song{
    width: 100%;
    padding:10px 20px ;
    border-radius: 10px;
    color:white;
}
.song .title{
    background-color:black;
    padding:10px 20px;
    border-radius: 3px;
    font-family: arial,sans-serif;
    cursor: pointer;
}
.song .title.active{
    background-color:green;
}
.bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.progress{
    width: 60%;
    height:2px;
    transition: all 0.2s;
}
.detail{
    width:100%;
    color: white;
    padding:10px;
    font-family: 'Niconne', cursive;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.master{
    padding: 10px 20px;
    width: max-content;
    margin-top: 10px;
    cursor: pointer;
}
@media (min-width:992px) {
    .navbar{
        padding: 10px 60px;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-nav{
        flex-direction: row;
        width: max-content;
    }
    .collapse{
        width: max-content;
        height: auto;
    }
    .collapse.active{
        height: auto;
    }
}
